.about {
    padding: 94px 0px;
  }
  .about__title {
    font-weight: 700;
    font-size: 36px;
    line-height: 1.2;
    text-align: center;
    letter-spacing: 0.03em;
  }
  .about__lists {
    display: flex;
    padding-top: 50px;
    padding-left: 0px;
    position: relative;
  }
  .about__list {
    flex-basis: calc((100% - 60px) / 3);
    margin-left: 30px;
  }
  .about__list:first-child {
    margin-left: 0px;
  }
  .about__img {
    display: block;
  }
  .abut__discription {
    width: 370px;
    height: 70px;
    font-size: 14px;
    line-height: 16px;
    color: var(--main-color);
    text-align: center;
    position: absolute;
    background-color: rgba(47, 48, 58, 0.8);
    padding: 27px 107px;
    top: 275px;
  }
  