.container .benefits__lists{
  padding-top: 60px;
  padding-bottom: 60px;

  @media screen and (min-width: 1200px) {
    padding-top: 94px;
    padding-bottom: 94px;
}

}
.benefits__icons {

  @include centered(flex, center, center);
  max-width: 450px;
  width: 100%;
  height: 120px;
  background-color: var(--background-color);
  margin-bottom: 30px;

  @media screen and (min-width: 768px) {
      width: 354px;
  }

  @media screen and (min-width: 1200px) {
      width: 270px;
  }
}

.benefits__lists {
  @media screen and (min-width: 768px) {
      @include centered(flex, start-end, stretch);
      flex-wrap: wrap;
      flex-basis: calc(100%/2 - 30px);
      gap: 30px;
  }

  @media screen and (min-width: 1200px) {
      flex-wrap: nowrap;
      gap: 0;
  }
}

.benefits__list {
  max-width: 450px;
  width: 100%;
  margin-bottom: 30px;
  &:last-child {
      margin-bottom: 0;
  }

  @media screen and (min-width: 768px) {
      width: 354px;
      margin-bottom: 0;
  }

  @media screen and (min-width: 1200px) {
      width: 270px;

      &:not(:last-child) {
          margin-right: 30px;
      }
  }
}

.benefits__title {
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  text-align: center;
  margin-bottom: 10px;
}

.benefits__txt {
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: var(--primary-lightgray-color);
}