.container .header-nav {
  max-width: 480px;
  width: 100%;
  display: flex;
  align-items: center;
  
    @media screen and (min-width: 768px) {
      max-width: 768px;
      width: 100%;
    }
  
    @media screen and (min-width: 1200px) {
      max-width: 1200px;
      width: 100%;
    }
  }

    .nav__list .nav__item {
      display: none;
    @media screen and (min-width: 768px) {
      @include centered(flex, center, center);

          .portfolio:visited {
            color: var(--secondary-color);
          }
          .selected {
            color: var(--secondary-color);
            position: absolute;
          }
          
          .selected::after {
            content: "";
            display: block;
            background-color: var(--secondary-color);
            height: 4px;
            width: 100%;
            border-radius: 2px;
            top: 45px;
            position: absolute;
          }
        
    }
  
    @media screen and (min-width: 1200px) {
      @include centered(flex, center, center);
      margin-left: 93px;
      
    }
  }
  .nav-item {
    @media screen and (min-width: 768px){

    &:not(:last-child) {
      margin-right: 50px;
    }
  }}

  
  
// .header {
//     padding-top: 24px;
//     padding-bottom: 25px;
//   }
//   .header .container {
//     display: flex;
//     align-items: center;
//   }
//   .selected:visited {
//     color: var(--secondary-color);
//     position: absolute;
//   }
//   .selected::after {
//     content: "";
//     display: block;
//     background-color: var(--secondary-color);
//     height: 4px;
//     width: 100%;
//     border-radius: 2px;
//     top: 45px;
//     position: absolute;
//   }
//   .portfolio:visited {
//     color: var(--secondary-color);
//   }
//   .header__details {
//     color: var(--primary-lightgray-color);
//     display: flex;
//     align-items: center;
//     transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
//   }
//   .header__details:hover,
//   .header__details:focus {
//     color: var(--secondary-color);
//   }
  
//   .header__icon {
//     margin-right: 10px;
//     fill: currentColor;
//   }
//   .contacts {
//     font-weight: 500;
//     font-size: 14px;
//     line-height: 1.2;
//     letter-spacing: 0.02em;
//     text-decoration: none;
//     list-style: none;
//     font-style: normal;
//   }

