.portfolio {
    padding-top: 69px;
  }
  .info-portfolio {
    border: 1px solid #ececec;
  }
  .portfolio__btn {
    list-style: none;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 6px 25px;
  }
  .portfolio__btn-tittle {
    padding: 6px 25px;
    margin-right: 8px;
    display: inline-block;
    min-width: 81px;
    height: 26px;
    left: 615px;
    top: 180px;
    background-color: var(--background-color);
    border-radius: 4px;
    border: none;
    cursor: pointer;
    text-align: center;
    letter-spacing: 0.03em;

    @include transition();

    &:hover,
    &:focus{  
    background-color: var(--secondary-color);
    color: var(--main-color);
    box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08),
      0px 2px 2px rgba(0, 0, 0, 0.12);
    text-decoration: none;
    cursor: pointer; }
  }
  