.projects {
    display: flex;
    flex-wrap: wrap;
    gap: 25px;
    margin: 0px;
    padding-left: 0px;
    padding-top: 50px;
    margin-bottom: 94px;
  }
  .projects_project {
    flex-basis: calc((100% - 60px) / 3);
    list-style: none;
    margin: 0px;
  }
  .projects__info {
    width: 370px;
    text-decoration: none;
  }
  .projects__column {
    border: 1px solid #eeeeee;
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);

    @include transition();

    &:hover,
    &:focus{  
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25),
      0px 4px 4px 0px rgba(0, 0, 0, 0.25);}
  }
  .projects__wrapper {
    position: relative;
    overflow: hidden;
  }
  .team__img {
    display: block;
    width: 100%;
    height: auto;
  }
  .projects__discription {
    font-size: 18px;
    line-height: 1.6;
    width: 100%;
    color: var(--main-color);
    background-color: rgba(33, 150, 243, 0.9);
    padding: 63px 24px;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    transform: translateY(100%);
    transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }
  .projects__column:hover .projects__discription {
    transform: translateY(0);
  }
  .projects__name {
    text-align: left;
    font-weight: 700;
    font-size: 18px;
    line-height: 2;
    letter-spacing: 0.06em;
    color: var(--primary-gray-color);
    padding-top: 20px;
    padding-left: 24px;
  }
  .projects__txt {
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 1.88;
    letter-spacing: 0.03em;
    padding-top: 4px;
    padding-bottom: 20px;
    padding-left: 24px;
    color: var(--primary-lightgray-color);
  }
  