h1,
h2,
h3,
p,
ul {
  margin: 0;
}
.lists {
  margin-top: 0;
  margin-bottom: 0;
  text-decoration: none;
  padding-left: 0px;
  display: flex;
}
.title-text {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.2;
  text-align: center;
  letter-spacing: 0.03em;
}
