:root {
    --main-color: #ffffff;
    --secondary-color: #2196f3;
    --primary-gray-color: #212121;
    --primary-lightgray-color: #757575;
    --background-color: #f5f4fa;
    --icon-color: #afb1b8;
  }
  